.counter-class {
    width: 100%;
    height: 80vh;

    &__container {
        background: #eee;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            fill: #bebcbc;
        }

        &--leftArrow {
            margin-right: 20px;
            padding: 5px;
            cursor: pointer;
        }

        &--box {
            position: relative;
            background-color: $primaryColor;
            color: $whiteColor;
            height: 120px;
            width: 120px;
            border-radius: 1rem;
            font-weight: 900;
            font-size: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 300ms ease-in-out;

            &::before {
                position: absolute;
                content: "";
                background: rgba($whiteColor, .2);
                z-index: 1;
                min-width: 80px;
                min-height: 80px;
                border-radius: 50%;
                margin: auto;
            }
        }
        &--rightArrow {
            margin-left: 20px;
            padding: 5px;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 768px) {
        margin: 2rem 0;
    }
}