.header {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    position: relative;
    z-index: 10;
    a {
        text-decoration: none;
        color: $primaryColor;
        padding: 0 3rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
        margin: 1rem 0;
        
        a {
            padding: 1rem 3rem;
        }
    }
}